<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input
      matInput
      autocomplete="off"
      formControlName="userName"
      placeholder="User Name *" />
    <mat-icon matSuffix>person</mat-icon>
    <mat-error>User name is required</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      formControlName="password"
      placeholder="Password *"
      type="password" />
    <mat-icon matSuffix>lock</mat-icon>
    <mat-error>Password is required</mat-error>
  </mat-form-field>
  <div class="app-options-container">
    <a
      class="app-link"
      routerLink="/user-account/forgot-password"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page">
      Forgot Password?
    </a>
    <mat-checkbox color="primary">Remember Me!</mat-checkbox>
  </div>
  <div class="app-actions-container">
    <button
      mat-flat-button
      type="submit"
      color="primary"
      [disabled]="!form.valid">
      Sign In
    </button>
  </div>
</form>
<div class="app-alternate-signin-container">
  <span>or sign up using</span>
  <div class="app-alternate-signin-actions-container">
    <a
      mat-icon-button
      target="_blank"
      ariaCurrentWhenActive="page">
      <mat-icon svgIcon="google"></mat-icon>
    </a>
    <a
      mat-icon-button
      target="_blank"
      ariaCurrentWhenActive="page">
      <mat-icon svgIcon="twitter"></mat-icon>
    </a>
    <a
      mat-icon-button
      target="_blank"
      ariaCurrentWhenActive="page">
      <mat-icon svgIcon="facebook"></mat-icon>
    </a>
  </div>
</div>
