form {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.mat-form-field {
  width: 100%;
}

.actions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;

  .mat-button-base {
    flex-grow: 2;
  }
}
